.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.logotext{
    font-size: 50px;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #000000;

}
.main .nav img{
    width:100px;
    
    border-radius: 50%;
}


.main-container{
    max-width: 900px;
    margin: auto;
}


.main .greet{
    margin: 30px 0px;
    font-size: 56px;
    color: #c4c7c5;
    padding: 10px;
}


.main .greet span{
    background: rgba(0,0,0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}

.main .card{
    height: 200px;
    padding:15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}


.main .card p{
    color: #585858;
    font-size: 17px;
}

.main .card:hover{
    background-color: #dfe4ea;
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px,20px;
    margin: auto;

}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}


.search-box img{
    width: 24px;
    cursor: pointer;
}


.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px ;

}


.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}


.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y:scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap:20px;
}


.result img{
    width:40px;
    border-radius: 50%;
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}


.loader {
    width: 120px;
    height: 20px;
    -webkit-mask:linear-gradient(90deg,#000 70%,#0000 0) 0/20%;
    background:
     linear-gradient(#000 0 0) 0/0% no-repeat
     #ddd;
    animation: l4 2s infinite steps(6);
  }
  @keyframes l4 {
      100% {background-size:120%}
  }
  .loader:before,
  .loader:after {
    content: "";
    height: inherit;
    aspect-ratio: 1;
    grid-area: 1/1;
    margin: auto;
    border-radius: 50%;
    transform-origin: -100% 50%;
    background: #000;
    animation: l49 1s infinite linear;
  }
  .loader:after {
    transform-origin: 200% 50%;
    --s:-1;
    animation-delay: -.5s;
  }


  

